name: Building
on:
  push:
    tags:
      - "v*.*.*" #Este on solo se ejecuta cuando hay etiqueta
jobs:
  building:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 #copiamos el repositorio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Testing
        run: poetry run pytest
      - run: poetry build #Ejecuto un comando de consola en el repo. 
      #- run: ls ${{github.workspace}}
      - name: Publish to GH Releases
        uses: softprops/action-gh-release@v1
        with:
          files: ${{github.workspace}}/dist/*

